*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.jpg
local.properties
.gitignore
.app/src/main/java/com/inplace/auth/
.app/src/main/java/com/inplace/chat/
